<!DOCTYPE html>
<html>
<head>
	<title>Create User</title>
</head>
<body>
	<form method="post">
		<fieldset>
			<legend>Add New Book</legend>
			<table>
				<tr>
					<td>Book Name</td>
					<td><input type="text" name="bname"></td>
				</tr>
				<tr>
					<td>Book Author</td>
					<td><input type="text" name="baname"></td>
				</tr>
				<tr>
						<td>Book adition</td>
						<td><input type="text" name="badition"></td>
				</tr>
				<tr>
					<td>Book Catagory</td>
					<td><input type="text" name="bcatagories"></td>
				</tr>
				<tr>
					<td>Price</td>
					<td><input type="text" name="bprice"></td>
				</tr>
				<tr>
					<td>Description</td>
					<td><input type="text" name="bdescription"></td>
				</tr>
					<td></td>
					<td><input type="submit" name="submit" value="Submit"></td>
				</tr>
			</table>
		</fieldset>
	</form>
	<a href="/home">Back</a>
</body>
</html> 