<!DOCTYPE html>
<html>
<head>
	<title>Create Job</title>
</head>
<body>
	<form method="post">
		<fieldset>
			<legend>Create New Job</legend>
			<table>
                <tr>
					<td>Your User Name</td>
					<td><input type="text" name="username"></td>
				</tr>
				<tr>
					<td>New company Name</td>
					<td><input type="text" name="enewcompany"></td>
				</tr>
				<tr>
					<td>Job title</td>
					<td><input type="text" name="jtitle"></td>
				</tr>
				<tr>
					<td>Job Location</td>
					<td><input type="text" name="jlocation"></td>
				</tr>
					<td></td>
					<td><input type="submit" name="submit" value="Submit"></td>
				</tr>
			</table>
		</fieldset>
	</form>
	<a href="/ehome">Back</a>
</body>
</html> 