<!DOCTYPE html>
<html>
<head>
	<title>Create User</title>
</head>
<body>
	<form method="post">
		
    </form>
    <a href="/login">Log In As Admin</a> |
    <a href="/register">Register As Customer</a>
	
</body>
</html> 